
      <div class="item" id="post">
          <div id="content">
              <div class="content_padding">
                <div class="title">
                  <%= link_to truncate(article.title , :length => 80) , article_path(article) %>
                </div>
                <div class="foot">

                  <div class="time">
                    <%= time_ago_in_words(article.created_at) %> ago by
                  </div>
                  <div class="author">
                     <%= link_to article.user.username, article.user %>
                  </div>
                  <div class="tags">
                    <div id=tag_ico>
                    </div>
                    <%= raw article.tag_list.first(5).map { |t| link_to t, tag_path(t) }.join(' ')%>
                  </div>

                </div>
              </div>
         </div>
         <div id="index_comment">
           <div id="post_align_centre">
             <div id="fav_icon">
               <div id="comment_ico">
               </div>
               <div id="fav_count">
                 <%= article.comments.count %>
               </div>
             </div>
           </div>
         </div>
          <div id="index_favorite">
              <div id="post_align_centre">
                <div id="fav_icon">
                  <% if current_user.favorite_articles.include? article %>
                    <div id=fav_ico_d>
                    </div>
                  <% else %>
                    <div id=fav_ico>
                    </div>
                  <% end %>
                  <div id="fav_count">
                    <%= article.favorites.count %>
                  </div>
                </div>
              </div>
          </div>



      </div>
      <div id="spacing_index">
      </div>

      <script type="text/javascript">
      $(document).ready(function(){
        $('.initialjs-avatar').initial();
      })
      </script>
