<% unless @article.parent_type == '0' %>
  <div class="tag_container">
    <div class="tag_head">
       PARENT TOPIC
    </div>
    <div class="tag_list">
          <div class="parent_post">
            <%= link_to  truncate(@article.parent_article.title , :length => 100) , article_path(@article.parent_article)%>
          </div>
    </div>
  </div>
<% end %>

<div class="tag_container">
  <div class="tag_head">
     TAGS
  </div>
  <div class="tag_list">
    <%  @article.tag_list.each do |t| %>
       <%=link_to t , tag_path(t) ,class: 'tag' %>
       <%end%>
  </div>
</div>
<% if @article.visibility == "private" %>
  <div class="share_container">
    <div class="share_head">
       SHARED WITH (<%=@article.invites.count%>)
    </div>
    <div class="user_list">
      <%  @article.invites.each do |t| %>
          <div class="user">
            <%=t.user.username %>
         </div>
         <%end%>
    </div>
    <% if current_user.id == @article.user_id %>
      <div class="invite" data-popup-target="#example-popup">
        + Invite More People
      </div>
    <% end %>
  </div>
<% end %>

<% if @article.parent_type == '0' %>
<div class="subpost_container">
  <div class="subpost_head">
     SUBPOSTS (<%=@article.sub_articles.count%>)
  </div>
  <div class="subpost_list">
    <%  @article.sub_articles.each do |t| %>
      <div class="subpost">
        <%= %>
        <%=link_to t.title , article_path(t) %>
     </div>
       <%end%>
  </div>
  <div class="new_subpost">
      <%= link_to '+ Create Subposts' , articles_new_path(:parent_type => @article.id) %>
  </div>
</div>
<% end %>
