


<div class="ui container">
    <div id="sort_list">
      <ul>
        <li class="item"><%= link_to"All posts" , list_path(:type => 'public') %></li>
        <li class="item "><%= link_to"My posts" , list_path(:type => 'my') %></li>
        <li class="item"><%= link_to"Shared with me" , list_path(:type => 'private') %></li>
        <li class="item"><%= link_to"Favorites" , list_path(:type =>'favorite') %></li>
        <li class="item "><%= link_to"Top" , list_path(:type => 'top') %></li>
      </ul>
    </div>


  <div  id="my-posts">


      <%= render @articles %>


    <div id="infinite-scrolling">

        <%= will_paginate %>

    </div>

  </div>
</div>



  
