<div class="ui container">
    <div id="route_info">
      <div class="route_home">
        <%= link_to 'Home >', root_url%>
      </div>
      <div class="route_title">
        New Post
      </div>
    </div>

    <div id="create_post">
        <div class="new_post_padding">
          <% if @article.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@article.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="post_title">
              Post Title
          </div>
          <%= form_for :article, url: articles_path do |f| %>
            <%= f.hidden_field :parent_type, value:@parent_type %>
                    <div class="ui form field">
                        <%= f.text_field :title,  :placeholder => 'A nice title for your post' %>
                    </div>
                    <div class="post_title" id="head_pad">
                        Content
                    </div>
                    <div class="field">
                        <%= f.cktext_area :text,  :placeholder => 'enter description here'%>
                    </div>
                    <div class="post_title">
                        Tags
                    </div>
                    <div class="field" id="remove_pad">
                      <ul id="article-tags"></ul>
                    </div>
                    <div class="post_title">
                        Type
                    </div>
                    <div class="field">
                        <%= f.radio_button 'visibility', 'public', :checked => true %>
                        <%= f.label :visibility, 'Public', :id => "public_name" ,:value => 'public' %>
                        <%= f.radio_button 'visibility', 'private' %>
                        <%= f.label :visibility, 'Private', :id => "private_name",:value => 'private'  %>
                    </div>
                  <%= f.submit "Submit Post" ,class:"ui button"  %>
          <% end %>
          <%= button_to "Cancel", root_url , method:"get" , class: "ui violet basic button" ,id:"cancel_button"  %>
        </div>
    </div>

<div>
