<div class="ui container">

    <div id="route_info">
      <div class="route_home">
        Home >
      </div>
       <div class="route_title">
         <%= truncate(@article.title , :length => 100) %>
       </div>
    </div>
    <div id="post_container">
      <div class="post_padding">
        <div class="post_title">
          <%= @article.title %>
        </div>
        <div class="post_info">
          <div class="time">
              <%= time_ago_in_words(@article.created_at) %> ago by
            </div>
            <div class="author">
               <%= link_to @article.user.username, @article.user %>
               <% if @article.user==current_user %>
                (You)
                <%end%>
            </div>
        </div>
        <div class="post_details">
          <div id="index_comment1">
            <div id="post_align_centre1">
              <div id="fav_icon">
                <div id=comment_ico>
                </div>
                <div id="fav_count">
                  <%= @article.comments.count %>
                </div>
              </div>
            </div>
          </div>
           <div id="index_favorite1">
               <div id="post_align_centre1">
                 <div id="fav_icon" class="fav_ajax">
                   <%= render "favorite_div" %>
                 </div>
               </div>
           </div>
           <div class="post_operations">
             <% if @article.user_id == current_user.id %>
             <%= link_to 'Edit', edit_article_path(@article) %>
             <%= link_to 'Delete' , article_path(@article),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
             <% end %>

           </div>
        </div>
        <div class="post_body">
          <%= raw(@article.text) %>
        </div>
      </div>
      <div id="comment_container">
        <div class="comment_padding">
            <%= render "comments/comment" %>
            <%= render "comments/form" %>
        </div>
      </div>
    </div>

    <div id="side_container">
      <%= render 'side_container' %>
    </div>


</div>


<script type="text/javascript">
$(document).ready(function(){
  $('#cform').hide();
  $('.comment_head_right').click(function() {
                $('#cform').slideToggle("fast");
                $('.comment_head_right').hide();
                });
  $('#cancel_button').click(function() {
                $('#cform').slideToggle("fast");
                $('.comment_head_right').show();
                });
  $('#cform').insertBefore('.comment_head');
})
</script>
