<div class="ui container">
<div  id="my-posts" class="top_pad">
    <div id="route_info">
      <div class="route_home">
        <%= link_to 'Home >', root_url%>
      </div>
         <% unless @article.parent_type =='0' %>
           <div class="route_title">
             <%= link_to  truncate(@article.parent_article.title , :length => 100) , article_path(@article.parent_article)%> >
           </div>
        <% end %>
      <div class="route_title">
        <%= truncate(@article.title , :length => 100) %>
      </div>
    </div>
    <div class="shared_status">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div id="post_container">
      <div class="post_padding">
        <div class="post_title">
          <%= @article.title %>
        </div>
        <div class="post_info">
          <div class="time">
              <%= time_ago_in_words(@article.created_at) %> ago by
            </div>
            <div class="author">
               <%= link_to @article.user.username, @article.user %>
               <% if @article.user==current_user %>
                (You)
                <%end%>
            </div>
        </div>
        <div class="post_details">
          <div id="index_comment1">
            <div id="post_align_centre1">
              <div id="fav_icon">
                <div id=comment_ico>
                </div>
                <div id="fav_count">
                  <%= @article.comments.count %>
                </div>
              </div>
            </div>
          </div>
           <div id="index_favorite1">
               <div id="post_align_centre1">
                 <div id="fav_icon" class="fav_ajax">
                   <%= render "favorite_div" %>
                 </div>
               </div>
           </div>
           <div class="post_operations">

             <% if @article.user_id == current_user.id %>
               <div class="ui simple dropdown item" id=op_click>
                 <div id=operation_ico>
                 </div>
                 <div class="menu" id="dropdown_post">
                    <div class="pointer"></div>
                   <div class="item"><%= link_to 'Edit', edit_article_path(@article) %></div>
                   <div class="item"><%= link_to 'Delete' , article_path(@article),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></div>
                 </div>
               </div>
             <% end %>



           </div>
        </div>
        <div class="post_body">
          <%= raw(@article.text) %>
        </div>
      </div>
      <div id="comment_container">
        <div class="comment_padding">
            <%= render "comments/comment" %>
            <%= render "comments/form" %>
        </div>
          <div id="paginate_div">
            <%= will_paginate @comments, :previous_label => 'Previous', :next_label => 'Next' %>
          </div>
      </div>
    </div>

    <div id="side_container">
      <%= render 'side_container' %>
    </div>

</div>
</div>


<div id="example-popup" class="popup">
    <div class="popup-body">
        <%=render "invite_popup" %>
    </div>
</div>
<div class="popup-overlay"></div>


<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
  $('.shared_status').remove();
}, 4000);
  $('#cform').hide();
  $('.comment_head_right').click(function() {
                $('#cform').slideToggle("fast");
                $('.comment_head_right').hide();
                });
  $('#cancel_button').click(function() {
                $('#cform').slideToggle("fast");
                $('.comment_head_right').show();
                });
  $('#cform').insertBefore('.comment_head');

  $('[data-popup-target]').click(function () {
        $('html').addClass('overlay');
        var activePopup = $(this).attr('data-popup-target');
        $(activePopup).addClass('visible');

    });

    $(document).keyup(function (e) {
        if (e.keyCode == 27 && $('html').hasClass('overlay')) {
            clearPopup();
            $('.shared_item').empty();
        }
    });

    $('#cancel_button1').click(function () {
        clearPopup();
        $("form").trigger("reset");

    });
    $('#sub_button').click(function () {
        submit_result();
        clearPopup();
        $('.shared_item').empty();
    });


    $('.popup-overlay').click(function () {
        clearPopup();
        $('.shared_item').empty();
    });
    function submit_result()
    {

    }
    function clearPopup() {
        $('.popup.visible').addClass('transitioning').removeClass('visible');
        $('html').removeClass('overlay');
        $("input[type='hidden']#user_id").remove();
        setTimeout(function () {
            $('.popup').removeClass('transitioning');
        }, 200);
    }
})
</script>
