
<div class = "formcetre">
  <div class="ui one column center aligned grid ">

    <div class="column four wide form-holder">
      <div class="ui segment">
     <h2 class="center aligned header form-head">Forgot your password?</h2>
     <div class="ui form">
       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
         <%= devise_error_messages! %>

         <div class="field">
           <%= f.label :email %><br />
           <%= f.email_field :email, autofocus: true %>
         </div>

         <div class="actions">
           <%= f.submit "Send me reset password instructions" , class:"ui button large fluid green"  %>
         </div>
       <% end %>

      </div>
    </div>
  </div>
</div>
</div>
